header {
    width: 100%;
    position: fixed;
    justify-content: center;
  }
  
  nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-buttons {
    display: flex;
    width: 30%;
    margin-right:  10%;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  li {
    list-style: none;
   
  }
  
  .nav-buttons a{
    text-decoration: none;
    color:  rgba(0, 0, 0, 0.76);
    transition: all 0.5s;
    font-weight: bold;
  }
  
  .nav-buttons a:hover {
     color: rgba(68, 71, 224, 0.884);
  }
  
  
  .logo {
    position: absolute;
    padding: 10px 10px;
    mix-blend-mode: color-burn;
    height: 150px;
  } 